{{ $IsHome := .IsHome}}
{{ range (where site.Sections "Section" "leistungen") }}
<div id="fh5co-services" data-section="services">
    <div class="container">
      <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
        <h2>{{ .Title | markdownify }}</h2>
        <p>{{ .Description | markdownify }}</p>
    </div>
          
  {{ range .Pages }}
    <div class="col-md-4">
      <div class="service" onclick="location.href='{{ .Permalink }}'">
    <!--<div class="icon"><i class={{ .Params.icon }}></i></div>-->
        <h3>{{ .Title  | markdownify }}</h3>
        {{ if not ($IsHome) }}<p>{{ .Description | markdownify }}</p>{{ end }}
      </div>
    </div>
  {{ end }}
        
  {{ if ($IsHome) }}
    <div class="col-md-12 text-center">
      <p><a href="{{ "leistungen" | absURL }}" onclick="location.href='{{ "leistungen" | absURL }}'" class="btn btn-primary btn-outline fh5co-content-nav" data-nav-section="contact">Mehr</a></p>
    </div>
  {{ end }}

 
    </div>
</div> <!-- END fh5co-services -->
{{ end }}